@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: black;
  background-color: #FFFFFF;
}

.main-container {
  flex-grow: 1;
}

.page-header {
  color: black;
  background-color: white;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-logo {
  width: 140px;
  position: absolute;
}

.navigation-list {
  width: 440px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 169px;
}

.navigation-user {
  max-width: 310px;
  margin-left: auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navigation-user .navigation-list {
  min-width: 42px;
  min-height: 66px;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  color: inherit;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: block;
  padding: 20px 17px;
}

.navigation-link-item {
  font-weight: 700;
  height: 37px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #756257;
  display: block;
  width: 160px;
  border-radius: 4px;
  padding: 9px 15px 8px;
}

.catalog-wrapper {
  display: flex;
}

.catalog-filter-group {
  border: none;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}

.catalog-filter {
  height: 408px;
  margin-left: 72px;
  background-image: url("../images/boke-catalog-canyon.jpg");
  background-repeat: no-repeat;
  margin: 0;
}

.sorting-type-select {
  display: flex;
  width: 1057px;
  padding-top: 44px;
  padding-bottom: 53px;
  margin-left: 111px;
  margin-right: 32px;
}

.sorting-type {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.select-control {
  width: 160px;
  width: 160px;
  padding: 13px 17px;
  border-radius: 4px;
  margin-left: 51px;
  font-size: 16px;
  border: 2px solid #E6E6E6;
}

.sorting-number {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  color: #000000;
  margin-right: 191px;
}

.sorting-butten {
  margin-left: 81px;
  display: flex;
  flex-wrap: wrap;
}

.mode-tile {
  width: 48px;
  height: 48px;
}

.mode-slideshow {
  width: 48px;
  height: 48px;
}

.mode-list {
  width: 48px;
  height: 48px;
}

.select-sorting {
  font-family: "PT Sans", sans-serif;
  width: 280px;
  color: #333333;
  padding-left: 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.logo-sedona {
  display: block;
  margin: 0 auto;
}

.heading {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin: 0;
  padding: 35px 0 5px 71px;
}

.lead {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  margin: 0;
  padding-left: 111px;
  padding-bottom: 45px;
}

.location-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  width: 700px;
  margin: 0 auto;
  padding-bottom: 31px;
}

.number-advantages {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  text-align: center;
  width: 720px;
  height: 36px;
  margin: 0 auto;
  padding-bottom: 80px;
}



.banner-sedona {
  height: 485px;
  background-image: url("../images/Vector.svg"),
    url("../images/arizona-state.jpg");
  background-repeat: no-repeat;
  padding: 51px;
  background-size: 100%;
  background-position: bottom;
  margin-bottom: 63px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000
}

.advantages-title-item {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF
}

.advantages-description-item {
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}


.advantages-description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.attractions-item {
  background-color: #83B3D3;
}

.advantages-list {
  display: grid;
}

.location-item {
  background-color: #83B3D3;
}

.service-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item {

  background-color: red;
}

.advantages-point-item {
  background-color: rgba(131, 179, 211, 0.2);
}

.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 700px;
  margin: 0 auto;
  padding-top: 91px;
  padding-bottom: 29px;
}

.date-trip {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  width: 720px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  padding-bottom: 56px;
}

.search-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756257;
  color: #ffffff;
  width: 575px;
  height: 60px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 93px;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 10px;
}

.newsletter-form {
  width: 1200px;
  height: 411px;
  background-image: url("../images/boke-canyon.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.newsletter-item {
  background-size: 100% auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subscribe {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0 auto;
  padding-bottom: 46px;
}

.subscribe-item {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 29px;
}

.information {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  width: 545px;
  color: #333333;
  margin: 0 auto;
  padding-bottom: 46px;
}

.field-item {
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  color: #000000;
  width: 600px;
  padding-left: 22px;
  border: none;
  background: #F2F2F2;
  border-radius: 10px 0px 0px 10px;
}

.information-item {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  padding-bottom: 46px;
}

.submit-item {
  justify-content: center;
  display: flex;
  margin: 0 auto;
}

.submit-wrapper {
  justify-content: center;
  display: flex;
  margin: 0 auto;
  padding-bottom: 160px;
}

.footer-social {
  max-width: 130px;
  margin-right: 40px;
  display: flex;
  align-items: center;
  margin-left: 72px;
  padding-top: 49px;
  padding-bottom: 53px;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 130px;
  background-color: #000000;
}

.footer-social-item {
  width: 18px;
  height: 15px;
  margin-right: 15px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.page-footer {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.footer-contacts {
  display: flex;
  justify-content: center;
}

.footer-contacts-address-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  display: flex;
  justify-content: center;
  width: 720px;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  padding-bottom: 30px;
}

.logo-htmlacademy {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 44px 0px 44px;
  margin-left: 53px;
}

.button-newsletter-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffff;
  background-color: #83B3D3;
  width: 200px;
  height: 60px;
  display: flex;
  justify-content: center;
  border-radius: 0px 10px 10px 0px;
  border: none;
}

.field {
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  color: #000000;
  width: 600px;
  padding-left: 22px;
  border: none;
  border-radius: 10px 0px 0px 10px;
}

.screen-motels-link {
  text-decoration: none;
}

.screen-motels-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  margin: 0;
  padding: 16px 0 16px 0;
}


.screen-motels-price {
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  display: flex;
  width: 300px;
  padding-right: 65px;
  padding-bottom: 16px;
  justify-content: space-between;
}

.product-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  width: 1056px;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  margin-left: 112px;
  margin-right: 32px;
  padding-bottom: 34px;
  gap: 10px 18px;
}

.screen-motels {
  padding: 20px;
  width: 340px;
  display: flex;
  flex-wrap: wrap;
}

.aside {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  margin-top: 16px;
  margin-left: 97px;
  border-radius: 4px;
  width: 160px;
  padding: 8px;

}

.product-card-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #83B3D3;
  border-radius: 4px;
  width: 133px;
  padding: 8px;
}

.product-selected-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #7DB54F;
  border-radius: 4px;
  width: 133px;
  padding: 8px;
}

.screen-motels-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #756257;
  border-radius: 4px;
  width: 133px;
  padding: 8px;
  margin-right: 25px;
}



.button-pagination-download-more {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 60px;
  width: 620px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #83B3D3;
  border-radius: 4px;
  margin: auto;
  justify-content: center;
  padding: 0;
  border: none;
}

.download-more-wrapper {
  display: flex;
  border: 1px solid #E6E6E6;
  border-left: none;
  border-right: none;
  width: 1056px;
  margin: 0 auto;
  padding: 30px 0 30px 0;
}

.pagination-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 72px;
  padding-bottom: 73px;
  padding-top: 30px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  color: #ffffff;
  background-color: #83B3D3;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  justify-content: center;
  border-radius: 4px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}
