@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: black;
  background-color: white;
}

.page-header {
  color: black;
  background-color: white;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  color: inherit;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.navigation-link-item {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.location-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.number-advantages {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  text-align: center;
}

.advantages {
  text-align: center;
}

.advantages-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000
}

.advantages-title-item {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF
}

.advantages-description-item {
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}


.advantages li:nth-child(1),
.advantages li:nth-child(5) {
  background-color: #83B3D3;
}

.advantages li:nth-child(2),
.advantages li:nth-child(4),
.advantages li:nth-child(6),
.advantages li:nth-child(8) {
  background-color: rgba(131, 179, 211, 0.12);
  ;
}

.advantages li:nth-child(3) {
  background-color: #FFFFFF;
}

.advantages li:nth-child(7) {
  background-color: rgba(131, 179, 211, 0.2);
  ;
}


.advantages-description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.search-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.date-trip {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333
}

.search-link {
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.subscribe-item {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  background-image: url("../images/background-4");
}

.information-item {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.page-footer {
  font-size: 14px;
  font-weight: 400;
  background-color: bisque/wheat;
  background-repeat: repeat;
}

.page-footer a {
  color: #000000;
}

.footer-contacts-address-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.button-newsletter-button {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffff;
}

.field {
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #000000;
}
